<%- include("partials/header") -%>

<form action="/recipe" method="post">
  <div class="jumbotronHome jumbotron-fluid p-5 mb-4 bg-light rounded-3 center">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">What's your volunteer?</h1>
      <p class="col-sm-16 fs-4">Blah Blah Blah</p>
    </div>
  </div>
</form>




<%- include("partials/footer") -%>
