<%- include("partials/header2") -%>


<section class="section-steps column7j vline" id="steps">
  <div class="row">
    <h2>Profile &mdash; Joan Johnson</h2>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img class="circular stock_img"
        src="/images/stock2.png"
        alt="profile image"
        class="app-symbol js--wp-2"
      />
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div><strong>Recent Volunteer Activity</strong></div>
        <div>March 4, 2022</div>
        <p>
          Volunteered 4 hours at Habitat Live.
        </p>
        <div>February 26th, 2022</div>
        <p>
          Volunteered 3 hours at Animals Rescue.
        </p>
        <div>February 18th, 2022</div>
        <p>
          Volunteered 1 hours at Econ Health.
        </p>
        <a class="btn btn-full" href="#">See all recorded activities...</a>
    </div>
  </div>

  <br>

  <div class="row center centerItems">
    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <p class="solidol ">Total Hours</p>
      <p class="solidol2">74</p>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <p class="solidol">Badges Earned</p>
      <p class="solidol2">28</p>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <p class="solidol">Top Organization</p>
      <p class="solidol2">Habitat For Humanity</p>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <p class="solidol">Top Category</p>
      <p class="solidol2">Shelters</p>
    </div>
  </div> <!-- End of row -->

<br>
<br>
<br>

  <div class="row center">
    <p style="font-size:22px;"><b>Introduction</b></p>
    <br>
    <p> I love working with animals and am always on the lookout for volunteer opportunities! </p>
  </div>
    </div>
  </div>
</section>

<section class="section-steps column3j leftpadding" id="steps">
  <p style="font-size:22px;">
    <b>Recommended friends</b>
  </p>
  <div class="row">
  <img class="column3j circular"
        src="/images/hwijin.jpg"
        alt="profile image"
        class="app-symbol js--wp-2"
      />
      <p class="column7j">Hwi Jin Jang</p>
      <br>
      <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
  </div>
  <hr>
  <div class="row">
    <img class="column3j circular"
          src="/images/jae.jpg"
          alt="profile image"
          class="app-symbol js--wp-2"
        />
        <p class="column7j">Jae Chul Jung</p>
        <br>
        <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
    </div>
    <hr>
    <div class="row">
      <img class="column3j circular"
            src="/images/chase.jpg"
            alt="profile image"
          />
          <p class="column7j">Chase Holdener</p>
          <br>
          <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
      </div>
      <hr>
      <div class="row">
        <img class="column3j circular"
              src="/images/john.jpg"
              alt="profile image"
              class="app-symbol js--wp-2"
            />
            <p class="column7j">John Tobin</p>
            <br>
            <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
        </div>
        <hr>
        <div class="row">
          <img class="column3j circular"
                src="/images/matt.jpg"
                alt="profile image"
                class="app-symbol js--wp-2"
              />
              <p class="column7j">Matt Gao</p>
              <br>
              <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
</section>

<%- include("partials/footer") -%>
