<%- include("partials/header2") -%>


<section class="section-steps column7j vline" id="steps">
  <div class="row">
    <h2>Profile &mdash; Joan Johnson</h2>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img class="circular stock_img" src="/images/stock2.png" alt="profile image" class="app-symbol js--wp-2" />
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 centerText">
      <div><strong>Recent Volunteer Activity</strong></div>
      <div>March 4, 2022</div>
      <p>
        Volunteered 4 hours at Habitat Live.
      </p>
      <div>February 26th, 2022</div>
      <p>
        Volunteered 3 hours at Animals Rescue.
      </p>
      <div>February 18th, 2022</div>
      <p>
        Volunteered 1 hours at Econ Health.
      </p>
      <a class="btn btn-full" href="#">See all recorded activities...</a>
      <a class="btn btn-full" href="/ranking">Ranking</a>
    </div>
  </div>

  <br>

  <div class="row center centerItems ">
    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <p class="solidol ">Total Hours</p>
      <p class="solidol2">74</p>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <p class="solidol">Badges Earned</p>
      <p class="solidol2">28</p>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <p class="solidol">Top Organization</p>
      <p class="solidol2">Habitat For Humanity</p>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 ">
      <p class="solidol">Top Category</p>
      <p class="solidol2">Shelters</p>
    </div>
  </div> <!-- End of row -->

  <br>
  <br>
  <br>

  <div class="row centerText">
    <p style="font-size:22px;"><b>Introduction</b></p>
    <br>
    <p> I volunteer to give back to my community. I am grateful for the help I received from others. I love working with animals and am always on the lookout for volunteer opportunities!
      Volunteering is something you do not for the money, but for self-satisfaction that you helped someone else. Any time someone helps another without being asked they are volunteering. Many people volunteer but inside they really wish they were
      out having fun, but I volunteer for the look on the child’s face when he/she learns something new.
      My first experience with volunteering was chaos. I decided to volunteer for PM Academy because it was working with young kids. The first day I was a little nervous because I didn’t know what to expect from the kids. I walked into the classroom
      and over to the corner of the room to introduce myself to Sue, the director of PM Academy. She told me that I would be working with the second grade students. She gave me a packet of worksheets for the kids to work on and pointed me to the
      table where my class would be sitting. Sue told me to go ahead and sit at my table and she would bring the students over. I was sitting at the table, looking at the worksheets when I saw Sue approaching me with four girls following close
      behind. They all sat down at the table and I quickly noticed one thing; they did not want to sit close to me. This was the first speed bump. I passed out the worksheets that Sue had given to me earlier and told them if they needed any help to
      just ask. I watched them work on the worksheets but every time I tried to help one of the girls, she would scoot away. After cracking a few jokes to ease the tensions they began to accept my help even though I have boy coodies. At the end of
      the day I felt like I had made a good impression on the kids and things should go even better next time.
    </p>
  </div>
  </div>
  </div>
</section>

<section class="section-steps column3j leftpadding" id="steps">
  <p style="font-size:22px;">
    <b>Recommended friends</b>
  </p>
  <div class="row">
    <img class="column3j circular" src="/images/hwijin.png" alt="profile image" class="app-symbol js--wp-2" />
    <p class="column7j">Hwi Jin Jang</p>
    <br>
    <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
  </div>
  <hr>
  <div class="row">
    <img class="column3j circular" src="/images/jae.png" alt="profile image" class="app-symbol js--wp-2" />
    <p class="column7j">Jae Chul Jung</p>
    <br>
    <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
  </div>
  <hr>
  <div class="row">
    <img class="column3j circular" src="/images/chase.png" alt="profile image" />
    <p class="column7j">Chase Holdener</p>
    <br>
    <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
  </div>
  <hr>
  <div class="row">
    <img class="column3j circular" src="/images/john.png" alt="profile image" class="app-symbol js--wp-2" />
    <p class="column7j">John Tobin</p>
    <br>
    <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
  </div>
  <hr>
  <div class="row">
    <img class="column3j circular" src="/images/matt.png" alt="profile image" class="app-symbol js--wp-2" />
    <p class="column7j">Matt Gao</p>
    <br>
    <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#"><strong>View profile</strong></a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</section>

<%- include("partials/footer") -%>
