<%- include("partials/header2") -%>


<section class="section-steps column7j" id="steps">
  <div class="row">
    <h2>Profile &mdash; GC_student1</h2>
  </div>
  <div class="row">
    <div class="column">
      <img
        src="resources/img/profile.png"
        alt="profile image"
        class="app-symbol js--wp-2"
      />
    </div>
    <div class="column">
        <div><strong>Recent Volunteer</strong></div>
        <div>March 4, 2022</div>
        <p>
          This guy worked 9 hours at Habitat
        </p>
        <div>March 3, 2022</div>
        <p>
          This guy worked 9 hours at Habitat blahblah
        </p>
        <div>March 2, 2022</div>
        <p>
          This guy worked 9 hours at Habitat blhablhablah.
        </p>
        <a class="btn btn-full" href="#">See all recorded activities...</a>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="column4 center">
      <p class="solidol">Total Hours</p><br>
      <p>9999</p>
    </div>
    <div class="column4 center">
      <p class="solidol">Badges Earned</p><br>
      <p>28/100</p>
    </div>
    <div class="column4 center">
      <p class="solidol">Top Organization</p><br>
      <p>Habitat For Humanity</p>
    </div>
    <div class="column4 center">
      <p class="solidol">Top Category</p><br>
      <p>Shelters</p>
    </div>
  </div> <!-- End of row -->

  <div class="row center">
    <p>Introduction</p>
    <br>
    <p>I may be known to some as the 29th president of the US. After I lost to Reagon, I retired back to my peanut farm and now build homes for the homeless. I'm also 97 years old, so maybe it's time you touch some grass and start volunteering to be on my level!</p>
  </div>
    </div>
  </div>
</section>

<section class="section-steps column3j leftpadding" id="steps">
  <div class="row">
  <img class="column3j"
        src="resources/img/profile.png"
        alt="profile image"
        class="app-symbol js--wp-2"
      />
      <p class="column7j">Username1</p>
      <br>
      <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#">View profile</a>
  </div>
  <br>
  <div class="row">
    <img class="column3j"
          src="resources/img/profile.png"
          alt="profile image"
          class="app-symbol js--wp-2"
        />
        <p class="column7j">Username2</p>
        <br>
        <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#">View profile</a>
    </div>
    <br>
    <div class="row">
      <img class="column3j"
            src="resources/img/profile.png"
            alt="profile image"
            class="app-symbol js--wp-2"
          />
          <p class="column7j">Username3</p>
          <br>
          <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#">View profile</a>
      </div>
      <br>
      <div class="row">
        <img class="column3j"
              src="resources/img/profile.png"
              alt="profile image"
              class="app-symbol js--wp-2"
            />
            <p class="column7j">Username4</p>
            <br>
            <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#">View profile</a>
        </div>
        <br>
        <div class="row">
          <img class="column3j"
                src="resources/img/profile.png"
                alt="profile image"
                class="app-symbol js--wp-2"
              />
              <p class="column7j">Username5</p>
              <br>
              <a class="btn btn-full column3j" href="#">Add friend</a><a class="btn btn-dim column" href="#">View profile</a>
          </div>
          <br>
          <br>
          <br>
          <br>
</section>

<%- include("partials/footer") -%>
