#facebook,
#twitter,
#google,
#insta {
  transition: color 1s;
  font-size: 150%;
}

#facebook:hover {
  color: #1877f2;
}
#twitter:hover {
  color: #1da1f2;
}
#google:hover {
  color: #ea4335;
}
#insta:hover {
  color: #c32aa3;
}
